<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="body-container">
        <div class="navbar">
            <h1>Logo</h1>
            <div class="language-container">
                <a href="/">Th</a>
                <a href="/">Fr</a>
                <a href="/">En</a>
            </div>
        </div>

        <div class="details">
            <div class="parent-name">
                <p>Parent Name: Surname</p>
            </div>
            <div class="children-school-names">
                <select name="child-name" id="child-name">
                    <option value="volvo" selected="selected" disabled>Child's Name</option>
                    <option value="saab">Child1</option>
                    <option value="opel">Child2</option>
                    <option value="audi">Child3</option>
                </select>
                <p>School Name: Name</p>
            </div>
            <div class="alert-board">
                <p>Any Message! Alert Board!!!!!</p>
            </div>
        </div>
    <!-- Put the rest of the code here that will go into the paragraph  -->



    <!-- Put the rest of the code here that will go into the paragraph  -->
    </div>    
    <div class="footer">
        <div class="tabs">
            <a href="">Home</a>
            <a href="">Requestment</a>
            <a href="">Bus History</a>
        </div>
        <div class="contact-info">
            <p>Contact Us: xxxxxxx xxxxxxx xxxxxxx xxxxxx</p>
            <p>Hotline : xxxxx xxxxx</p>
            <p>Line: xxxxxxxx</p>
        </div>
    </div>
</body>

</html>